In [1]:
import sys
print(sys.version)

3.8.0 (v3.8.0:fa919fdf25, Oct 14 2019, 10:23:27)
[Clang 6.0 (clang-600.0.57)]

In [2]:
from collections import abc
my_dict = {}
isinstance(my_dict, abc.Mapping)

True

In [3]:
isinstance(my_dict, abc.MutableMapping)

True

In [4]:
tt = (1, 2, (30, 40))
hash(tt)

-3907003130834322577

In [7]:
tl = (1, 2, [30, 40])
try:
    hash(tl)
except TypeError as e:
    print(e)

unhashable type: 'list'

In [5]:
tf = (1, 2, frozenset([30, 40]))
hash(tf)

5149391500123939311

In [8]:
a = dict(one=1, two=2, three=3)
b = {'three': 3, 'two': 2, 'one': 1}
c = dict([('two', 2), ('one', 1), ('three', 3)])
d = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
e = dict({'three': 3, 'one': 1, 'two': 2})
a == b == c == d == e

True

In [10]:
a

{'one': 1, 'two': 2, 'three': 3}

In [11]:
list(a.keys())

['one', 'two', 'three']

In [12]:
c

{'two': 2, 'one': 1, 'three': 3}

In [13]:
c.popitem()

('three', 3)

In [14]:
c

{'two': 2, 'one': 1}

In [15]:
dial_codes = [                                                  # <1>
    (880, 'Bangladesh'),
    (55,  'Brazil'),
    (86,  'China'),
    (91,  'India'),
    (62,  'Indonesia'),
    (81,  'Japan'),
    (234, 'Nigeria'),
    (92,  'Pakistan'),
    (7,   'Russia'),
    (1,   'United States'),
]

In [17]:
country_dial = {country: code for code, country in dial_codes}
country_dial

{'Bangladesh': 880,
 'Brazil': 55,
 'China': 86,
 'India': 91,
 'Indonesia': 62,
 'Japan': 81,
 'Nigeria': 234,
 'Pakistan': 92,
 'Russia': 7,
 'United States': 1}

In [18]:
{code: country.upper() 
    for country, code in sorted(country_dial.items())
    if code < 70}

{55: 'BRAZIL', 62: 'INDONESIA', 7: 'RUSSIA', 1: 'UNITED STATES'}

In [20]:
from random import shuffle
shuffle(dial_codes)
country_dial = {country: code for code, country in dial_codes}
country_dial

{'Pakistan': 92,
 'Indonesia': 62,
 'Russia': 7,
 'Japan': 81,
 'United States': 1,
 'China': 86,
 'Brazil': 55,
 'Bangladesh': 880,
 'Nigeria': 234,
 'India': 91}